### Reading the dataset

In [1]:
#importation des librairies r√©quis
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("Profit.csv")

In [3]:
data.shape

(200, 2)

In [5]:
data.head()

   Marketing Spend     Profit
0        471784.10  192261.83
1        443898.53  191792.06
2        407934.54  191050.39
3        383199.62  182901.99
4        366168.42  166187.94

### Defining the input and outpouts features

In [7]:
X = data.iloc[:,0:-1]
y = data.iloc[:,-1]

In [8]:
print('The input features shape is:',X.shape)
print('The target features shape is:',y.shape)

The input features shape is: (200, 1)
The target features shape is: (200,)

### Defining the training and test sets

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size =0.1, random_state = 42)

### Training

In [13]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(X_train,y_train)

DecisionTreeRegressor()

In [14]:
regressor.criterion

'mse'

In [15]:
y_predict = regressor.predict(X_test)

In [16]:
y_predict

array([ 64966.08 , 129917.04 ,  99937.59 , 152211.77 , 103282.38 ,
       129917.04 ,  55848.628, 118474.03 , 108552.04 ,  64966.08 ,
       126992.93 ,  97427.84 , 129917.04 , 103282.38 ,  90708.19 ,
       105008.31 , 156122.51 , 191050.39 ,  97427.84 , 124266.9  ])

In [20]:
pd.DataFrame(data={"Predict Profit":y_predict, "Actual Profit":y_test})

     Predict Profit  Actual Profit
95        64966.080       64926.08
15       129917.040      129917.04
30        99937.590       99937.59
158      152211.770      152161.77
128      103282.380      103322.38
115      129917.040      129957.04
69        55848.628      122776.86
170      118474.030      118424.03
174      108552.040      108502.04
45        64966.080       64926.08
66       126992.930      126992.93
182       97427.840       97377.84
165      129917.040      129867.04
78       103282.380      103282.38
186       90708.190       90658.19
177      105008.310      104958.31
56       156122.510      156122.51
152      191050.390      191000.39
82        97427.840       97427.84
68       124266.900      124266.90

### Model evaluation

In [23]:
from sklearn.metrics import mean_squared_error,r2_score

In [24]:
#Mean Squarred Error (MSE)
MSE = mean_squared_error(y_test,y_predict)
print('Mean squarred Error is:' , MSE)

Mean squarred Error is: 223970731.93229112

In [25]:
##Root Mean Squarred Error (RMSE)
import math
RMSE = math.sqrt(MSE)
print('Root Mean squarred Error is:' , RMSE)

Root Mean squarred Error is: 14965.651737638796

In [26]:
r2 = r2_score(y_test,y_predict)
print('R squarred  is:' , r2)

R squarred  is: 0.7313438266695949

In [36]:
pd.DataFrame(data={"MSE": [MSE], "RMSE":[RMSE] , "r2_score":[r2]})

            MSE          RMSE  r2_score
0  2.239707e+08  14965.651738  0.731344

### Visualization

In [53]:
#visualizing the performance
X_grid = np.arange(X_train.min, X_train.max, 0.01)
#X_grid.reshape(len(X_grid),1)

TypeError: unsupported operand type(s) for -: 'method' and 'method'

NameError: name 'X_grid' is not defined

In [49]:
X_train.min()

Marketing Spend    1853.93
dtype: float64

In [45]:
max(X_train)

'Marketing Spend'